---
import type { CollectionEntry } from 'astro:content';

import Post from '@/components/Post.astro';

import PostNavi from '../components/PostNavi.astro';
import BaseLayout from './BaseLayout.astro';

type Props = {
  pageTitle: string;
  maverickWaveVersion: string;
  post: CollectionEntry<'blog'>;
  prevPost: CollectionEntry<'blog'> | null;
  nextPost: CollectionEntry<'blog'> | null;
};

const { pageTitle, maverickWaveVersion, post, prevPost, nextPost }: Props =
  Astro.props;
---

<BaseLayout pageTitle={pageTitle} maverickWaveVersion={maverickWaveVersion}>
  <div class="mw-content">
    <section>
      <PostNavi prevPost={prevPost} nextPost={nextPost} />
      <Post post={post} />
    </section>
  </div>
</BaseLayout>
